*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
}

main .container {
    width: 90%;
    margin: 0 auto;
}

main .container .products {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 360px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5px 5px 20px -7px black;
}

.product img {
    width: 340px;
    border-radius: 14px;
}

.priceRow {
    gap: 2rem;
    display: flex;
    align-items: center;
}

#productNewPrice {
    background: yellow;
}

#productAbout {
    height: 60px;
}

#productName {
    margin-bottom: 0.8rem;
}